/* Pad entry for marking and unmarking a FRSS construct */
.mark-as::before, .unmark::before {
    font-size: 0.75rem;
    display: inline-block;
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 0.125rem;
}

/* Marking color */
.mark-as--default::before {
    background-color: #89ff89;
    border-color: #006a00;
}

/* Unmarking color */
.unmark::before {
    background-color: lightcoral;
    border-color: red;
}
